MODBUS_HOST=192.168.0.100
MODBUS_PORT=502
SITE_ID=demo-site
LICENSE_KEY=demo-business-key
INVERTER_PROFILE=deye
LICENSE_API_URL=http://host.docker.internal:8000
CLOUD_API_URL=http://host.docker.internal:8000
